In [1]:
#Packages
!pip install pyvis
!pip install pandas
!pip install networkx
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyvis in c:\users\sebby\appdata\roaming\python\python39\site-packages (0.3.0)
Requirement already satisfied: jinja2>=2.9.6 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pyvis) (3.1.2)
Requirement already satisfied: networkx>=1.11 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pyvis) (2.8.6)
Requirement already satisfied: ipython>=5.3.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pyvis) (8.5.0)
Requirement already satisfied: jsonpickle>=1.4.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pyvis) (2.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from jinja2>=2.9.6->pyvis) (2.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (3.0.31)
Requirement already satisfied: matplotlib-inline in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.1.6)
Requirement already satisfied: jedi>=0.16 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.7.5)
Requirement already satisfied: backcall in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: decorator in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (5.1.1)
Requirement already satisfied: stack-data in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.5.1)
Requirement already satisfied: traitlets>=5 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (5.4.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (0.4.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from ipython>=5.3.0->pyvis) (2.13.0)
Requirement already satisfied: wcwidth in c:\users\sebby\appdata\roaming\python\python39\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sebby\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=5.3.0->pyvis) (2.0.8)
Requirement already satisfied: pure-eval in c:\users\sebby\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.2.2)
Requirement already satisfied: executing in c:\users\sebby\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=5.3.0->pyvis) (1.1.0)
Requirement already satisfied: six in c:\users\sebby\appdata\roaming\python\python39\site-packages (from asttokens->stack-data->ipython>=5.3.0->pyvis) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\program files\python 3.9\python.exe -m pip install --upgrade pip' command.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\sebby\appdata\roaming\python\python39\site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in c:\users\sebby\appdata\roaming\python\python39\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\program files\python 3.9\python.exe -m pip install --upgrade pip' command.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: networkx in c:\users\sebby\appdata\roaming\python\python39\site-packages (2.8.6)

WARNING: You are using pip version 20.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\program files\python 3.9\python.exe -m pip install --upgrade pip' command.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\sebby\appdata\roaming\python\python39\site-packages (3.6.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (4.37.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: six>=1.5 in c:\users\sebby\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\program files\python 3.9\python.exe -m pip install --upgrade pip' command.

In [2]:
import networkx as nx
import matplotlib
import pandas as pd
from networkx.algorithms import approximation
from pyvis.network import Network

In [15]:
channel_df = pd.read_csv('full_data/channel.csv')
recommendation_df = pd.read_csv('full_data/recommendation.csv')
video_df = pd.read_csv('full_data/video.csv')
video_df = video_df.sort_values('id')

In [6]:
video_df.describe()

,id,channel_id,like_count,view_count,crawl_attempt_count,client_id
count,638714.000000,638714.000000,6.387140e+05,6.387140e+05,638714.000000,638714.0
mean,344233.994707,60860.096364,2.453901e+04,1.768073e+06,0.355688,1.0
std,200320.106778,69231.140452,1.728917e+05,2.089204e+07,0.857298,0.0
min,1.000000,1.000000,0.000000e+00,1.000000e+00,0.000000,1.0
25%,169761.250000,5089.000000,4.040000e+02,1.611525e+04,0.000000,1.0
50%,342654.500000,29629.000000,2.200000e+03,9.326750e+04,0.000000,1.0
75%,517927.750000,104569.000000,1.100000e+04,5.288508e+05,0.000000,1.0
max,693425.000000,237384.000000,2.700000e+07,2.134753e+09,42.000000,1.0

In [14]:
len(channel_df), len(recommendation_df), len(video_df)

(163193, 1283022, 638714)

In [16]:
video_df.head()

,id,channel_id,url,raw_like_count,like_count,raw_view_count,view_count,title,description,raw_published_on,published_on,crawled,latest_crawl_attempted_at,crawl_attempt_count,created_at,updated_at,client_id
91719,1,1,https://www.youtube.com/watch?v=HqsIOTEbriY,18K,18000,"611,836 views",611836,China Airlines Crashes 747 in Chicago | Viral ...,China Airlines 747 loses control on a taxiway ...,"Mar 20, 2022",2022-03-20,t,1970-01-01 01:00:00,0,2022-08-10 15:07:56.209,2022-08-10 15:07:56.209,1
39173,2,2,https://www.youtube.com/watch?v=491t1JrvY2M,13K,13000,"322,141 views",322141,Cargo Pilot vs Passenger Pilot! Can you REALLY...,Get the FREE Mentour Aviation app ðŸ“²https://www...,"Apr 21, 2020",2020-04-21,t,2022-08-10 13:07:56.595513,0,2022-08-10 15:07:56.235,2022-08-10 15:07:56.235,1
39272,3,2,https://www.youtube.com/watch?v=AM01NSZyA7I,41K,41000,"1,497,198 views",1497198,Easyjet A320 tells United Boeing 787 to GO ARO...,Get 20% discount on the yearly subscription of...,"Aug 13, 2021",2021-08-13,t,2022-08-10 13:07:56.961684,0,2022-08-10 15:07:56.263,2022-08-10 15:07:56.263,1
35838,4,3,https://www.youtube.com/watch?v=ZXo66rawpHQ,6.2K,6200,"343,165 views",343165,"The Huge, Weird Batteries of the Future","As the planet gets hotter, engineers are racin...","Aug 4, 2022",2022-08-04,t,2022-08-10 13:07:57.083431,0,2022-08-10 15:07:56.289,2022-08-10 15:07:56.289,1
35839,5,2,https://www.youtube.com/watch?v=DWhZWtDinLg,36K,36000,"1,497,468 views",1497468,HOW This Aircraft FELL 30 000 Feet in Less Tha...,Join The Airline Pilot Club for FREE here ðŸ‘‰ ht...,"Nov 6, 2021",2021-11-06,t,2022-08-10 13:07:57.127171,0,2022-08-10 15:07:56.303,2022-08-10 15:07:56.303,1

In [9]:
channel_df.head()

,id,youtube_id,url,html_lang,type,language,short_name,human_name,raw_subscriber_count,subscriber_count,description,created_at,updated_at
0,1,UCovVc-qqwYp8oqwO3Sdzx7w,https://www.youtube.com/c/74gear,en,/c/,NaN,74gear,74 Gear,920K subscribers,920000,74 Gear / Pilot Kelsey\nBoeing 747 Pilot \nAll...,2022-08-10 15:07:56.178,2022-08-10 15:07:56.178
1,2,UCwpHKudUkP5tNgmMdexB3ow,https://www.youtube.com/c/MentourPilotaviation,en,/c/,NaN,MentourPilotaviation,Mentour Pilot,1.2M subscribers,1200000,Hi! \nOn my channel I will give you my point o...,2022-08-10 15:07:56.228,2022-08-10 15:07:56.228
2,3,UCUMZ7gohGI9HcU9VNsr2FJQ,https://www.youtube.com/BloombergTV,en,/,NaN,BloombergTV,Bloomberg Quicktake: Originals,3.23M subscribers,3230000,Bloomberg Quicktake is a global streaming news...,2022-08-10 15:07:56.283,2022-08-10 15:07:56.283
3,4,UCXh6VKhioaeEaMQasii7IfQ,https://www.youtube.com/c/theflightchannel,en,/c/,NaN,theflightchannel,TheFlightChannel,1.38M subscribers,1380000,Welcome to TheFlightChannel\n\nIf you love avi...,2022-08-10 15:07:56.336,2022-08-10 15:07:56.336
4,5,UC6n8I1UDTKP1IWjQMg6_TwA,https://www.youtube.com/c/Theb1mGoogle,en,/c/,NaN,Theb1mGoogle,The B1M,2.58M subscribers,2580000,We love construction and we want the whole wor...,2022-08-10 15:11:22.83,2022-08-10 15:11:22.83

In [10]:
recommendation_df.head()

   id  from_id  to_id  rank               created_at               updated_at
0   1        1      2     0  2022-08-10 15:07:56.246  2022-08-10 15:07:56.246
1   2        1      3     1  2022-08-10 15:07:56.273  2022-08-10 15:07:56.273
2   3        1      4     2  2022-08-10 15:07:56.297  2022-08-10 15:07:56.297
3   4        1      5     3   2022-08-10 15:07:56.31   2022-08-10 15:07:56.31
4   5        1      6     4   2022-08-10 15:07:56.32   2022-08-10 15:07:56.32

In [18]:
G = nx.from_pandas_edgelist(df=recommendation_df, source="from_id", target="to_id", create_using=nx.DiGraph)

In [30]:
def add_attr_from_pandas(G, df, id, columns):
    ids = df[id]
    inner_dicts = [{column:df[df[id] == i][column].iloc[0] for column in columns} for i in ids]
    attribute_dict = dict(zip(ids, inner_dicts))
    nx.set_node_attributes(G, attribute_dict)

In [ ]:
def add_attr_from_pandas(G, df, id, columns):
    ids = df[id]
    for i in ids:
        for column in columns:
        G.nodes[i][column] = df[df[id] == i][column].iloc[0]

In [ ]:
# This takes extremely long to run. 
relevant_cols = ['title', 'view_count']

add_attr_from_pandas(G, video_df, 'id', relevant_cols)

In [51]:
video_df[video_df['id'] == 600000]['title']

593291    Getaway | Rhone River Cruising - Episode #1
Name: title, dtype: object

In [50]:
G.nodes[600000]

{'title': 'Getaway | Rhone River Cruising - Episode #1'}